{% extends "_base.html" %}
{% block content %}
<h2 class="mt-20 mb-2 text-center	 font-extrabold md:text-6xl">
    Informações do pet
</h2>



<div class="card flex-shrink-0 mx-auto mt-10 mb-5 w-full max-w-sm shadow-2xl md:max-w-md lg:max-w-2xl bg-base-100">
    <div class="card-body">
        <img width="100%" src="{{pet.foto.url}}">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{pet.nome}}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">{{pet.descricao}}</p>
        {% for tag in pet.tags.all%}
         <div class="badge badge-info mr-2 px-2.5 py-0.5">{{tag}}</div>
        {% endfor %}
        <p>Estado: {{pet.estado}}</p>
        <p>Cidade: {{pet.cidade}}</p>
        <p>Telefone: {{pet.telefone}}</p>
        <a href="{% url 'pedido_adocao' pet.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Solicitar adoção
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>

{% endblock content %}